body {
  background-color: #111;
  color: white;
  font-family: monospace;
  padding: 20px;
}

button {
  padding: 10px 20px;
  background-color: gold;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

canvas {
  border: 2px solid yellow;
  display: block;
  margin-top: 20px;
  background-color: black;
}
